:root {
  /* font-size: 16px; */
  font-family: 'Gugi', cursive;
  /* font-family: 'Roboto', sans-serif; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #d4d7de;
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #d4d7de;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.logo {
  flex: 1 1 auto; /*Estudar porque*/
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: 35px;
}

a {
  margin: 15px;
  color: #000!important;
  text-decoration: none;
  text-transform: uppercase;
}

.logo h1 {
  margin: 0;
  padding: 0;
  font-family: 'Gugi', cursive;
}

a:hover{
  color: #000;
}

.nav{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}

.nav-active{
  transform: translateX(0%)!important;
}

.burguer {
  display: none;
  cursor: pointer;
}

.burguer div{
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.8s ease;
}

.burguer-close .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burguer-close .line2 {
  opacity: 0;
}
.burguer-close .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.banner-area{
  position: relative;
  background-image: url(mountain-banner.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.about-area, .port-area, .services-area, .contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}

.text-part{
  width: 65%;
  height: 80%;
}

h1 {
  font-size: 50px;
  font-family: 'Audiowide', cursive;
}

p {
  font-style: 24px;
  line-height: 50px;
}

.about-area, .services-area {
  background: #fefefe;
}

.port-area, .contact-area {
  background: #262626;
  color: #ffffff;
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden;
  }
  ul.nav {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8.20vh;
    margin-right: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: #d4d7de;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  ul.nav li{
    opacity: 0;
  }
  .burguer {
    display: block;
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50%);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
